<ion-view title="calculatingRoute" hide-nav-bar="true">
    <ion-content scroll="false" overflow-scroll="true" padding="false">
        <section id="loadContent" class="verticalCenterParent horizontalCenter">
            <div class="verticalCenterChild">
                <div id="loadLogo">
                    <img src="img/welcomeLogo.png" alt="Rutall logo" />
                </div>
                <h1 id="loadTitle">{{ruta}}Calculando ruta</h1>
                <h5>Por favor, espere</h5>
            </div>
        </section>
    </ion-content>
</ion-view>