<ion-view title="Change Password" hide-nav-bar="true">
    <ion-content scroll="false" overflow-scroll="true" padding="false">
        <section class="startWrapper">
            <header>
                <div class="row buttonHeader">
                    <div class="col col-center col-10 verticalCenterParent"><a class="verticalCenterChild" ui-sref="start"><i class="icon ion-close"></i></a></div>
                    <div class="col col-center col-90 verticalCenterParent"><h1 class="verticalCenterChild">Cambiar contraseña</h1></div>
                </div>
            </header>
            <section class="basicLogo">
                <img src="img/loginLogo.png" alt="Rutall logo" />
            </section>
            <section class="formSection">
                <ng-form class="list list-inset">
                    <label class="item item-input">
                        <input type="password" placeholder="Contraseña actual">
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="Nueva Contraseña">
                    </label>
                    <button type="submit" class="button buttonRutall" disabled="">Cambiar Contraseña</button>
                </ng-form>
            </section>
        </section>
    </ion-content>
</ion-view>