<ion-view title="Choose Locations" hide-nav-bar="true">
    <ion-content scroll="true" overflow-scroll="false" padding="false">
        <section id="basicWrapper">
            <header class="redHeader">
                <div class="row buttonHeader">
                    <div class="col col-center col-10 verticalCenterParent"><a class="verticalCenterChild" ui-sref="start"><i class="icon ion-navicon"></i></a></div>
                    <div class="col col-center col-90 verticalCenterParent"><h1 class="verticalCenterChild">Ruta Noroeste</h1></div>
                </div>
            </header>
            <section class="chooseLocationsMainSection">
                <div id="chosenLocationMessages">
                    <h2>Busca una localizaci&#243;n para a&#241;adir</h2>
                </div>
                <button type="submit" class="button buttonRutallWhite">Buscar en el mapa</button>
                <section>
                    <ng-form class="list list-inset">
                        <label class="item item-input">
                            <input type="text" placeholder="Escribe la localizaci&#243;n">
                        </label>
                    </ng-form>
                </section>
                <section id="chosenLocations">
                    <div id="chosenLocationMessages">
                        <h2>Localizaciones elegidas</h2>
                    </div>
                    <ul>
                        <li>
                            <div class="row">
                                <div class="col col-10 locationIcon"><img src="img/locationIcon.png" alt="Localizacion" /></div>
                                <div class="col col-80 localizacion">Localizaci&#243;n<br /><span class="position">90.1, 80.2</span></div>
                                <div class="col col-10 "><i class="icon ion-trash-b"></i></div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col col-10 locationIcon"><img src="img/locationIcon.png" alt="Localizacion" /></div>
                                <div class="col col-80 localizacion">Localizaci&#243;n<br /><span class="position">90.1, 80.2</span></div>
                                <div class="col col-10 "><i class="icon ion-trash-b"></i></div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col col-10 locationIcon"><img src="img/locationIcon.png" alt="Localizacion" /></div>
                                <div class="col col-80 localizacion">Localizaci&#243;n<br /><span class="position">90.1, 80.2</span></div>
                                <div class="col col-10 "><i class="icon ion-trash-b"></i></div>
                            </div>
                        </li>
                    </ul>
                </section>
                <button type="submit" class="button buttonRutall">Continuar</button>
            </section>
        </section>
    </ion-content>
</ion-view>