<ion-view title="errorRoute" hide-nav-bar="true">
    <ion-content scroll="false" overflow-scroll="true" padding="false">
        <section id="loadContent" class="verticalCenterParent horizontalCenter">
            <div class="verticalCenterChild">
                <div id="loadLogo">
                    <img ui-sref="start" src="img/welcomeLogo.png" alt="Rutall logo" />
                </div>
                <h1 id="loadTitle">Lo sentimos</h1>
                <h5>OSM no proporciona ruta entre esas localizaciones. Pulse el logo para regresar</h5>
            </div>
        </section>
    </ion-content>
</ion-view>