<ion-view title="Main" hide-nav-bar="true">
    <ion-content scroll="false" overflow-scroll="true" padding="false">
        <section id="loadContent" class="verticalCenterParent horizontalCenter">
            <div class="verticalCenterChild">
                <div id="loadLogo">
                    <a ui-sref="login"><img src="img/welcomeLogo.png" alt="Rutall logo" /></a>
                </div>
                <h1 id="loadTitle">Rutall</h1>
            </div>
        </section>
    </ion-content>
</ion-view>