<ion-view title="start" hide-nav-bar="true">
    <ion-content scroll="false" overflow-scroll="true" padding="false">
        <section class="myDataWrapper">
            <header class="redHeader">
                <div class="row buttonHeader">
                    <div class="col col-center col-10 verticalCenterParent"><a class="verticalCenterChild" ui-sref="start"><i class="icon ion-navicon"></i></a></div>
                    <div class="col col-center col-90 verticalCenterParent"><h1 class="verticalCenterChild">Mis Datos</h1></div>
                </div>
            </header>
            <section class="myDataLogo">
                <img src="img/loginLogo.png" alt="Rutall Logo" />
            </section>
            <section id="myDataMenu">
                <ul class="list">
                    <li class="item">
                        <a ui-sref="changePassword">Cambiár mi contraseña<span class="buttonRight"><i class="icon ion-arrow-right-b"></i></span>
                        <span class="consumo"><br />(Proximamente)</span></a></a>
                    </li>
                    <li class="item">
                        <a ui-sref="#">Cambiar mi consumo medio<span class="buttonRight"><i class="icon ion-arrow-right-b"></i></span>
                        <span class="consumo"><br />Consumo Actual 6,5l/100km (Proximamente)</span></a>
                    </li>
                </ul>
            </section>
        </section>
    </ion-content>
</ion-view>