<ion-view title="Welcome" hide-nav-bar="true">
    <ion-content scroll="false" overflow-scroll="true" padding="false">
        <section id="welcomeWrapper" class="horizontalCenter">
            <div id="welcomeCardRow" class="row">
                <div class="col col-center">
                    <ion-slide-box on-slide-changed="slideHasChanged($index)">
                        <ion-slide>
                            <div class="list card">
                                <div class="item item-body">
                                    <img class="full-image" src="img/cardBackground1.png">
                                    <h1>Bienvenido</h1>
                                </div>
                                <div class="item item-text-wrap">
                                    <p>Rutall te permite crear rutas eficientes para tu trabajo u ocio. Desliza para saber más.</p>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="list card">
                                <div class="item item-body">
                                    <img class="full-image" src="img/cardBackground2.png">
                                    <h1>Crea tu ruta</h1>
                                </div>
                                <div class="item item-text-wrap">
                                    <p>Introduce los destinos que deseas visitar y pulsa en continuar. Utilizamos algoritmos inteligentes ¡no te preocupes por el número de destinos!.</p>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="list card">
                                <div class="item item-body">
                                    <img class="full-image" src="img/cardBackground3.png">
                                    <h1>¡Listo!</h1>
                                </div>
                                <div class="item item-text-wrap">
                                    <p>En un par de segundos Rutall busca por tí la ruta más eficiente para visitar todas las localizaciones introducidas</p>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="list card">
                                <div class="item item-body">
                                    <img class="full-image" src="img/cardBackground4.png">
                                    <h1>Vuelve más tarde</h1>
                                </div>
                                <div class="item item-text-wrap">
                                    <p>Guarda tus rutas más utilizadas y vuelve a consultarlas en otro momento.¡Empieza a usar rutall!</p>
                                </div>
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </div>
            </div>
            <div id="startMessageRow" class="row">
                <div class="col col-center">
                    <a ui-sref="start">Empecemos <i class="icon ion-arrow-right-c"></i></a>
                </div>
            </div>
        </section>
    </ion-content>
</ion-view>