<ion-view title="Welcome" hide-nav-bar="true">
    <ion-content scroll="false" overflow-scroll="true" padding="false">
        <section id="welcomeWrapper" class="horizontalCenter">
            <div id="welcomeCardRow" class="row">
                <div class="col col-center">
                    <ion-slide-box on-slide-changed="slideHasChanged($index)">
                        <ion-slide>
                            <div class="list card">
                                <div class="item item-body">
                                    <img class="full-image" src="img/cardBackground1.png">
                                    <h1>Elige tu horario</h1>
                                </div>
                                <div class="item item-text-wrap">
                                    <p>Crea rutas que se adapten a tu horario y dias laborables. Optimiza tus rutas indicando cuando y cuanto quieres trabajar.</p>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="list card">
                                <div class="item item-body">
                                    <img class="full-image" src="img/cardBackground1.png">
                                    <h1>Elige tu horario</h1>
                                </div>
                                <div class="item item-text-wrap">
                                    <p>Crea rutas que se adapten a tu horario y dias laborables. Optimiza tus rutas indicando cuando y cuanto quieres trabajar.</p>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="list card">
                                <div class="item item-body">
                                    <img class="full-image" src="img/cardBackground1.png">
                                    <h1>Elige tu horario</h1>
                                </div>
                                <div class="item item-text-wrap">
                                    <p>Crea rutas que se adapten a tu horario y dias laborables. Optimiza tus rutas indicando cuando y cuanto quieres trabajar.</p>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="list card">
                                <div class="item item-body">
                                    <img class="full-image" src="img/cardBackground1.png">
                                    <h1>Elige tu horario</h1>
                                </div>
                                <div class="item item-text-wrap">
                                    <p>Crea rutas que se adapten a tu horario y dias laborables. Optimiza tus rutas indicando cuando y cuanto quieres trabajar.</p>
                                </div>
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </div>
            </div>
            <div id="startMessageRow" class="row">
                <div class="col col-center">
                    <a ui-sref="start">Empecemos <i class="icon ion-arrow-right-c"></i></a>
                </div>
            </div>
        </section>
    </ion-content>
</ion-view>